@font-face {
    font-family: Base;
    src: url();
}

body {
    background-color: var(--bg-color);
}

section {
    padding: 0 100px;
}


a,
h2,
h3,
h4,
h5 {
    color: var(--white-color);
    font-family: Lexend Deca;
}

p{
    color: var(--white-color);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--white-color);
    font-family: Lexend Deca;
}

p>span {
    font-size: 3rem;
    color: var(--first-yellow-color);
}

header {
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.listBox {
    width: 15%;
}

.listHeader {
    width: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.listHeader>li {
    display: inline-block;
}

section {
    margin-bottom: 50px;
}

#secPresentation {
    background-image: url();
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactLogo {
    width: 45px;
    height: auto;
    align-self: flex-end;
    justify-content: center;
}

.socialMed {
    padding: 0;
}

.socialImg {
    width: 10px;
    height: auto;
}

.presText p {
    margin: 0;
}

.presText p:nth-of-type(2) {
    margin-bottom: 40px;
}

.button {
    color: var(--first-yellow-color);
    border: 2px solid var(--first-yellow-color);
    border-radius: 10px;
    padding: 10px;
}

.listSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* https://css-tricks.com/aspect-ratio-boxes/ abajo codigo desde aqui*/

.boxSkill {
    width: calc(100%/4 - 100px);
    height: 0;
    overflow: hidden;
    padding-top: calc(100%/4 - 100px);
    background: white;
    position: relative;
    background-color: var(--second-bg-color);
    border-radius: 20px;
    margin: 20px;
}

.boxContent {
    position: absolute;
    top: 30%;
    left: center;
    width: 100%;
    height: 100%;
    
}

.boxContent>.img {
    width: 60px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.boxContent>.imgDuo{
    width: 60px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}

img {
    width: 100%;
    height: auto;
}

.boxContent>p {
    text-align: center;
}

.listPortfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxWork{
    width: calc(100%/3 - 40px);
    height: 0;
    overflow: hidden;
    padding-top: calc(100%/3 - 40px);
    background-image: url(Media/);
    position: relative;
    border-radius: 10px;
    margin: 20px;
}

.overlayBox{
    position: absolute;
    top: 10%;
    left: center;
    width: 100%;
    height: 100%;
}

.overlayBox > button{
    background-color: var(--first-yellow-color);
    border-radius:10px;
    padding: 10px;
}

.viewMore{
    background-color: var(--first-yellow-color);
    border-radius:10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.artExperience{
    display:flex;
    margin-bottom: 20px;
}

.date{
    display: flex;
    padding: 18px 0;
    margin-right: 10px;
}

.date p{
    margin: 0 10px 0 0;
}

.line{
    width: 5px;
    height: 80%;
    background-color: var(--second-bg-color);
    border-radius: 5px;
    margin-left: auto;
    margin-right: 17.5px;
}

.navContactMe ul{
    display: flex;
    justify-content: center;
}

.boxContactMe{
    background-color: var(--second-bg-color);
    border-radius: 10px;
    display: flex;
    margin: 0 20px;
    padding: 20px;
}

imgSimbol{
    width: 50px;
    height: auto;
}
